{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Панель преподавателя{% endblock%}

{% block body_title %}Добро пожаловать на страницу преподавателя, <b><i>{{ app.user.username }}</i></b>!{% endblock %}

{% block body_content %}
    <h1>Студент <i>{{ student.name }}</i></h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ student.id }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ student.name }}</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td>{{ student.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ student.email }}</td>
        </tr>
        <tr>
            <th>Группа</th>
            <td>{{ student.group.title }}</td>
        </tr>
        <tr>
            <th>Дата начала</th>
            <td>{% if student.datestart %}{{ student.datestart|date('d.m.Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Дата завершения</th>
            <td>{% if student.datefinish %}{{ student.datefinish|date('d.m.Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Защита</th>
            <td>{{  student.protect|is_protect }}</td>
        </tr>
        <tr>
            <th>Оценка</th>
            <td>{{ student.mark|is_mark }}</td>
        </tr>
        </tbody>
    </table>

    <hr>
    <a class="btn btn-primary" href="{{ path('BloggerBlogBundle_teacher_student_index') }}">Вернуться назад к списку студентов</a>
    <a class="btn btn-primary" href="{{ path('BloggerBlogBundle_teacher_student_edit', { 'id': student.id }) }}">Редактировать</a>
    <hr>
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Удалить студента">
    {{ form_end(delete_form) }}

{% endblock %}

