{% extends 'base.html.twig' %}

{% block body %}
    <h1>Student</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ student.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{% if student.datestart %}{{ student.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_finish</th>
                <td>{% if student.datefinish %}{{ student.datefinish|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Protect</th>
                <td>{% if student.protect %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Mark</th>
                <td>{{ student.mark }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('student_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('student_edit', { 'id': student.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
