{% if message %}
    <div class="error">{{ message }}</div>
    <hr>
{% endif %}

<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">Добавить</a></li>
        <li><a href="#tab-2" data-toggle="tab">Удалить</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-1">

            <form action="{{ path('BloggerBlogBundle_admin_add_user') }}" method="POST">
                <div class="form-group">
                    <label for="username">Логин:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ param.last_username }}">
                </div>
                <div class="form-group">
                    <label for="useremail">Email:</label>
                    <input type="email" class="form-control" id="useremail" name="_useremail" value="{{ param.last_useremail }}">
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="text" class="form-control" id="password" name="_userpassword" value="{{ param.last_userpassword }}">
                </div>
                <div class="form-group">
                    <label for="userrole">Права:</label>
                    <select class="form-control" id="userrole" name="_userrole">
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if param.last_userrole == role.id %}selected{% endif %}>{{ role.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-success" name="login" value="Отправить" />
            </form>

        </div>
        <div class="tab-pane fade" id="tab-2">

            <form action="{{ path('BloggerBlogBundle_admin_delete_user') }}" method="POST">
                <div class="form-group">
                    <label for="user">Пользователи:</label>
                    <select class="form-control" id="user" name="_user">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}{% for role in user.getRoles %}: {{ role.getTitle }}{% endfor %}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-success" name="login" value="Отправить" />
            </form>

        </div>
    </div>
</div>