<div id="carousel" class="carousel slide">
    <!-- Индикаторы -->

    <ol class="carousel-indicators">
        {% for company in companies %}
            <li {% if  loop.first %}  class="active" {% endif %} data-target="#carousel" data-slide-to="{{ loop.index0 }}"></li>
        {% endfor %}
    </ol>
    <!-- Слайды -->

    <div class="carousel-inner">
        {% for company in companies %}

            <div class="item {% if  loop.first %}  active {% endif %}">
                <a href="{{ path('BloggerBlogBundle_company_show', {'id': company.company.id, 'slug': company.company.slug}) }}"><img src="{{ asset(['images/', company.image]|join) }}" alt="{{ company.title }}"></a>
                <div class="carousel-caption">
                    <h3>{{ company.title }}</h3>
                    <p>{{ company.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Стрелки переключения -->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>